.video-Item {
     border: solid 1px #9d9d9d;
    padding: 10px;
    margin-bottom: 10px;
    width: 300px; 
    display: flex !important;
    align-items: center !important;
    cursor: pointer;
}
.video-Item .thumdnail{
    /* float: left; */
    width: 100px !important;
}